@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

<<<<<<< HEAD
=======
// main {
//   padding-top: 96px;
// }

>>>>>>> da60cc66def1fd558155faff76940b762ff1b7bd
.company-hero {
  margin-top: 96px;
  padding-bottom: 96px;
  .hero-content {
    .hero-top-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        padding-top: 24px;
        color: #000;

        /* Caption */
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 3px;
        text-transform: uppercase;

        opacity: 0.87;
      }
    }
    h2 {
      max-width: 664px;
      padding: 20px 0px 24px 0px;
      color: #232536;

      /* H2 Heading */
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 58px; /* 120.833% */
    }
    p {
      color: #232536;
      max-width: 719px;

      /* Paragraph */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      opacity: 0.87;
    }
    .hero-colors {
      display: flex;
      justify-content: end;
      padding-top: 40px;
      margin-right: 1px;
      .orenge {
        width: 100px;
        height: 28px;
        background: #ffa155;
      }
      .human-color {
        width: 170px;
        height: 28px;
        background: #ffd3af;
      }
      .blue {
        width: 80px;
        height: 28px;
        background: #444cfc;
      }
    }
    .hero-imgs {
      display: flex;
      justify-content: space-evenly;
      gap: 12px;
      flex-wrap: wrap;
    }
  }
}

.result {
  .result-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
    .texts {
      h6 {
        color: #232536;

        /* H6 Heading */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 175% */
        padding-top: 16px;
      }
      h3 {
        padding-top: 16px;
        padding-bottom: 24px;
        color: #232536;

        /* H3 Heading */
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px; /* 150% */
        max-width: 549px;
      }
      p {
        max-width: 550px;
        opacity: 0.87;
        color: #232536;

        /* Paragraph */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
    .experience {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      // grid-column-gap: 62px;
      // grid-row-gap: 30px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px 150px;
      max-width: 624px;
      background: rgba(255, 211, 175, 0.57);
      flex-wrap: wrap;
      .level {
        h3 {
          color: var(--Black, #232536);

          /* H3 Heading */
          font-family: Poppins;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 54px; /* 150% */
          padding-bottom: 8px;
        }
        h6 {
          color: var(--Black, #232536);

          /* H6 Heading */
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 175% */
          opacity: 0.87;
        }
      }
    }
    .logos {
      width: 100%;
      margin-top: 96px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      background: #fafafc;
      svg {
        &:hover path {
          fill: #d2d2fa;
          transition: 0.3s;
        }
      }
    }
  }
}

.super {
  background: #ecf8f9;
  .super-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 96px 0px;
    .super-texts {
      max-width: 622px;
      h6 {
        color: #000;
        /* Caption */
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: 0.87;
      }
      h2 {
        color: #232536;

        /* H2 Heading */
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 58px; /* 120.833% */
        padding: 16px 0px 24px 0px;
      }
      p {
        color: #5d5f6d;

        /* Paragraph */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
    .best {
      // .middle {
      //   position: absolute;
      //   .btn {
      //     background: none;
      //     border: 2px solid #000;
      //     font-family: sans-serif;
      //     text-transform: uppercase;
      //     padding: 12px 20px;
      //     min-width: 200px;
      //     margin: 10px;
      //     cursor: pointer;
      //     transition: color 0.4s linear;
      //     position: relative;
      //     &:hover {
      //       color: #fff;
      //     }
      //     &:hover::before {
      //       transform: scaleX(1);
      //     }
      //     &::before {
      //       content: "";
      //       position: absolute;
      //       left: 0;
      //       top: 0;
      //       width: 100%;
      //       height: 100%;
      //       background: #000;
      //       z-index: -1;
      //       transition: transform 0.5s;
      //       transform-origin: 0 0;
      //       transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
      //       transform: scaleX(0);
      //     }
      //   }
      // }
      .best-card {
        background-color: #fff;
        width: 515px;
        min-height: 140px;
        &:hover {
          background-color: #ffd3af;
          transition: 0.3s;
        }
        &:nth-child(3) {
          margin: 12px 0px;
        }
        .best-card-content {
          gap: 16px;
          display: flex;
          padding: 32px;
          .best-logo {
            background-color: #ffe6d2;
            border-radius: 48%;
            opacity: 0.5;
            width: 47px;
            height: 47px;
            svg {
              margin: 12px;
            }
          }
          .best-texts {
            max-width: 303px;
            h6 {
              color: #000;

              /* H6 Heading */
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px; /* 175% */
            }
            p {
              color: #5d5f6d;

              /* Paragraph Small */
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 20px; /* 142.857% */
            }
          }
        }
      }
      .best-colors {
        display: flex;
        .orenge {
          width: 140px;
          height: 8px;
          background: #ffa155;
        }
        .human-color {
          width: 240px;
          height: 8px;
          background: #ffd3af;
        }
        .blue {
          width: 135px;
          height: 8px;
          background: #444cfc;
        }
      }
    }
  }
}

.vision {
  padding: 96px 0;
  .vision-content {
    width: 100%;
    h6 {
      color: #000;

      /* Caption */
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 3px;
      text-transform: uppercase;
      opacity: 0.87;
    }
    h3 {
      color: #232536;

      /* H3 Heading */
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 54px; /* 150% */
      max-width: 701px;
      padding: 16px 0px 24px 0px;
    }
    p {
      color: #232536;

      /* Paragraph */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      opacity: 0.6;
      max-width: 622px;
    }
    .vision-img {
      img {
        width: 100%;
      }
      //   margin-top: 64px;
      //   width: 100%;
      //   background-image: url(../images/Abubakir/vision-img.png);
      //   // mix-blend-mode: luminosity;
      //   height: 360px;
      //   background-position: center;
      //   background-size: cover;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   opacity: 0.9;
      //   .vision-img-content {
      //     display: none;
      //     h1 {
      //       font-size: 100px;
      //       font-family: sans-serif;
      //     }
      //   }
      // }
      // &:hover {
      //   .vision-img-content {
      //     display: block;
      //   }
    }
  }
}

.team {
  .team-content {
    h6 {
      color: #000;

      /* Caption */
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 3px;
      text-transform: uppercase;
      opacity: 0.87;
    }
    h2 {
      color: #232536;

      /* H2 Heading */
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 58px; /* 120.833% */
      max-width: 600px;
      padding: 16px 0px 24px 0px;
    }
    p {
      color: #232536;

      /* Paragraph */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      opacity: 0.87;
      max-width: 505.049px;
    }
    .team-images {
      padding-top: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      // width: 100%;
      //   display: grid;
      //   grid-template-columns: repeat(4, 1fr);
      //   grid-template-rows: repeat(2, 1fr);
      //   .team-user-1 {
      //     background: url(../images/Abubakir/Team\ 1.png);
      //     background-repeat: no-repeat;
      //     height: 320px;
      //   }
      //   .team-user-2 {
      //     background: url(../images/Abubakir/Team\ 2.png);
      //     background-repeat: no-repeat;
      //     height: 320px;
      //   }
      //   .team-user-3 {
      //     background: url(../images/Abubakir/Team\ 3.png);
      //     background-repeat: no-repeat;
      //     height: 320px;
      //   }
      //   .team-user-4 {
      //     background: url(../images/Abubakir/Team\ 4.png);
      //     background-repeat: no-repeat;
      //     height: 320px;
      //   }
      //   .team-user-5 {
      //     background: url(../images/Abubakir/Team\ 5.png);
      //     background-repeat: no-repeat;
      //     height: 320px;
      //   }
      //   .team-user-6 {
      //     background: url(../images/Abubakir/Team\ 6.png);
      //     background-repeat: no-repeat;
      //     height: 320px;
      //   }
      //   .team-user-7 {
      //     background: url(../images/Abubakir/Team\ 7.png);
      //     background-repeat: no-repeat;
      //     height: 320px;
      //   }
      //   .team-user-8 {
      //     background: url(../images/Abubakir/Team\ 8.png);
      //     background-repeat: no-repeat;
      //     height: 320px;
      //   }
    }
  }
}

@media only screen and (max-width: 1215px) {
  .company-hero {
    .hero-content {
      .hero-colors {
        margin-right: 9%;
      }
    }
  }
  .result {
    .result-content {
      .texts {
        h3 {
          max-width: 100%;
        }
        p {
          max-width: 80%;
        }
      }
      .experience {
        margin-top: 30px;
        padding: 20px 0px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: 100%;
        gap: 0;
      }
    }
  }
  .team {
    .team-content {
      .team-images {
        justify-content: space-around;
        gap: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1175px) {
  .company-hero {
    .hero-content {
      text-align: center;
      h2 {
        max-width: 100%;
      }
      p {
        max-width: 100%;
      }
    }
  }
  .super {
    .super-contant {
      justify-content: center;
      .super-texts {
        max-width: 88%;
        text-align: center;
      }
      .best {
        padding-top: 50px;
        width: 100%;
        .best-card {
          width: 100%;
          .best-card-content {
            justify-content: center;
            .best-texts {
              max-width: 88%;
            }
          }
        }
        .best-colors {
          .orenge {
            width: 30%;
          }
          .human-color {
            width: 45%;
          }
          .blue {
            width: 25%;
          }
        }
      }
    }
  }
  .vision {
    .vision-content {
      text-align: center;
      h3 {
        max-width: 100%;
      }
      p {
        max-width: 100%;
        padding-bottom: 40px;
      }
    }
  }
  .team {
    padding-bottom: 50px;
    .team-content {
      text-align: center;
      h2 {
        max-width: 100%;
      }
      p {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .company-hero {
    .hero-content {
      h2 {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
  .result {
    .result-content {
      .texts {
        text-align: center;
        p {
          max-width: 100%;
        }
      }
      .experience {
        justify-content: space-around;
        .level {
          min-width: 130px;
        }
      }
    }
  }
  .super {
    .super-contant {
      .super-texts {
        h2 {
          font-size: 28px;
          line-height: 40px;
        }
      }
    }
  }
  .vision {
    .vision-content {
      h3 {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }
  .team {
    .team-content {
      h2 {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
}
